[Unit]
Description=Syncs repos from Red Hat for mirroring
After=local-fs.target network-online.target

[Service]
Type=oneshot
EnvironmentFile=/usr/local/etc/rhel-reposync
ExecStart=/usr/local/bin/rhel-reposync
User=datto
Group=datto
